node_modules
.env
.DS_Store
node_modules
.nyc_output
nohup.out
coverage
!/badges
/badges/*
!/badges/badge-lines.svg
!/badges/badge-statements.svg
!/badges/badge-branches.svg
!/badges/badge-functions.svg